.menu {
    position: relative;
    display: inline-block;
}

.listMenu {
    padding-left: 10px;
    display: none;
    position: absolute;
    padding-top: 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 120px;
    height: fit-content;
    justify-content: start;
    align-items: start;
    box-shadow: 1px 1px 1px 1px;

    background-color: aliceblue;
}
.listMenu ul li {
    list-style-type: none;
    padding: 5px;
    width: 100%;
}

.listMenu li :first-of-type:hover {
    background-color: var(--seasonColor);
}
.listMenu ul :first-child:hover {
    background-color: var(--seasonColor);
}

.modelList {
    margin-top: 3px;
    padding-left: 10px;
    font-size: 0.9rem;
}

.dropDownFilter:hover .listMenu {
    display: flex;
}
