.container {
    padding: 4px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 10px;
    align-items: center;
}

.logoutBtn {
    padding: 0;
    background-color: unset;
    box-shadow: unset;
    color: white;
}

.logoutBtn:hover {
    color: red;
    background-color: unset;
}

.searchInput {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
    padding: 15px;
}
.searchInput::placeholder {
    color: rgb(0, 0, 0);
}

.searchButton {
    border: none;
    box-shadow: unset;
}

.searchContainer {
    display: flex;
    align-items: center;
    padding: 1px 5px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-radius: 5px;
}

.menuButton {
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 1rem;
    margin: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(26, 25, 25, 0.774);
}

.searchButton:hover {
    color: #fcf2f2;
    background-color: unset;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container h3 {
        font-size: 1rem;
    }
    .searchInput {
        border: none;
        outline: none;
        background-color: inherit;
        margin: 0;
        padding: 5px;
    }
}
