.protocolModal {
    font-weight: bold;
    background-image: radial-gradient(
        circle,
        rgba(203, 222, 238, 0.938),
        white
    );
    font-size: 1rem;
    position: relative;
    left: 1;
    width: 99.9%;
    height: 100vh;
    z-index: 15;
    color: rgb(26, 23, 23);
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.protocolNav {
    display: flex;
    justify-content: end;
    position: absolute;
    left: 75%;
    top: 7%;
}
s .closeBtn {
    color: red;
}

.protocolModal .wrapper {
    display: flex;
    justify-content: space-between; /* Поставяме двата екземпляра един до друг */
    gap: 20px;
    height: 90%;
}

.protocolContainer {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.protocolModal h1 {
    text-align: center;
    margin-bottom: 40px;
}

.section {
    margin-bottom: 20px;
}

.partyInfo {
    display: flex;
    justify-content: space-between;
}

.party {
    width: 45%;
    padding-top: 15px;
}

.party p {
    padding-bottom: 25px;
}

.protocolModal table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.protocolModal table,
.protocolModal th,
.protocolModal td {
    border: 1px solid #ddd;
}

.protocolModal th,
.protocolModal td {
    padding: 8px;
    text-align: left;
}
.signaturesSection {
    margin-top: 60px;
}

.signatures {
    display: flex;
    justify-content: space-between;
}

.signatures div {
    width: 45%;
}

.signatures p {
    margin-top: 10px;
}
.printButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.printButton:hover {
    background-color: #45a049;
    scale: 1;
}

.movementInfo {
    border: none;
    font-size: inherit;
}

.employee {
    border: none;
    font-size: inherit;
}

.protocolModal input {
    display: block;
    border: none;
    margin-bottom: 12px;
    font-size: inherit;
}

.addingContainer {
    display: flex;
}

.addingContainer input {
    width: 270px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    @page {
        size: A4 portrait; /* A4 в портретна ориентация */
        margin: 10mm; /* вътрешен отстъп */
    }

    .addingContainer {
        display: none;
    }

    .printButton,
    .protocolNav {
        display: none;
    }

    .protocolModal {
        box-shadow: none;
    }

    select {
        box-shadow: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
