dialog {
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.625rem;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: unset;
    position: absolute;
    width: 25%;
    height: fit-content;
    z-index: 15;
    top: 22%;
    left: 35%;
    box-shadow: 5px 5px 5px rgba(26, 25, 25, 0.774);
    /* animation: animateModal  500ms; */
    transition: ease-in 10ms;
}
dialog::backdrop {
    /* background-color: rgba(68, 132, 148, 0.712); */
    background-color: rgba(152, 154, 155, 0.781);
}

.errorModal {
    box-shadow: -1px -1px 5px 5px brown;
    width: 30%;
    height: fit-content;
}

.errorModal h2 {
    margin-bottom: 25px;
}

.errorModal p {
    margin-bottom: 25px;
}

.errorModal div {
    display: flex;
    justify-content: end;
}

span {
    display: inline-block;
}
