.container {
    border: 2px solid rgba(224, 224, 224, 0.349);
    border-radius: 5px;
    min-width: 50%;
    width: fit-content;
    height: 99vh;
    margin: auto;
    background-color: var(--MainPageBackColor);
    background-color: rgba(240, 248, 255, 0.226);
    backdrop-filter: blur(12px);
    font-weight: bold;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
