.container {
    padding: 1rem;
    background-image: radial-gradient(circle, var(--seasonColor), white);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carsData {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.carRepairs {
    width: 100%;
}

.carMoveHistory {
    width: 100%;
}

.button {
    color: rgb(223, 6, 6);
    background-color: unset;
}

.button:hover {
    color: white;
    background-color: rgb(223, 6, 6);
    cursor: pointer;
}

.card {
    padding: 1rem;
    background-image: radial-gradient(circle, var(--seasonColor), white);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card p {
    margin: 0.5rem 0;
}

.card strong {
    color: #1d1d1c;
}

.addBtn {
    background-color: unset;
    box-shadow: none;
}

.addBtn:hover,
.addBtn:focus-within {
    background-color: unset;
    color: rgb(143, 233, 59);
    animation: spin 1s ease-in-out;
}
.wrapper {
    display: flex;
}

.carTables {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    background-color: transparent;
    font-size: clamp(0.7rem, 1vw, 1rem);
    table-layout: fixed;
    border-collapse: collapse;
}

.carTables thead {
    background-color: transparent;
}

.carTables th,
.carTables td {
    text-align: left;
    padding: 9px 10px; /* повече вътрешен отстъп */
    white-space: nowrap; /* не позволява да се пренася на нов ред */
    overflow: hidden; /* скрива излишъка */
    text-overflow: ellipsis; /* слага многоточие */
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.carTables th {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: clamp(0.7rem, 1vw, 1rem);
}
.carTables td {
    white-space: normal; /* Позволява пренасяне на текста */
}

.carTables tr {
    border-radius: 12px;
    overflow: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@media (max-width: 768px) {
    .carsData {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
