.wrapper {
    background-color: rgba(240, 248, 255, 0.349);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    padding: 50px 20px;
    transform: translate(-50%, -50%);
}

.portalButton {
    width: 200px;
    height: 200px;
    font-size: 3rem;
}

.card {
    background-color: rgba(240, 248, 255, 0.877);
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px rgba(26, 25, 25, 0.534);
    transition: transform 0.3s ease;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(151, 212, 212, 0.438);
    transform: translateY(-5px);
}

.cardImg {
    font-size: 9.5rem;
    display: flex;
    justify-content: center;
}

.cardText {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
