.wrapper {
    background-color: rgba(240, 248, 255, 0.349);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    border-radius: 15px;
    padding: 50px 20px;
    transform: translate(-50%, -50%);
}

.portalButton {
    width: 200px;
    height: 200px;
    font-size: 3rem;
}

.card {
    background-color: rgba(240, 248, 255, 0.877);
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px rgba(26, 25, 25, 0.534);
    transition: transform 0.3s ease;
}

.card:hover {
    cursor: pointer;
    background-color: var(--seasonColor);
    transform: translateY(-5px);
}

.cardImg {
    font-size: 9.5rem;
    display: flex;
    justify-content: center;
}

.cardText {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.notificationBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 3px solid var(--seasonColor);
    box-shadow: 0 2px 6px rgba(33, 150, 243, 0.3);
    text-align: center;
    z-index: 1000;
}

@media screen and (max-width: 760px) {
    .wrapper {
        background-color: rgba(240, 248, 255, 0.349);
        display: flex;
        min-width: 300px;
        justify-content: space-evenly;
        gap: 15px;
        position: absolute;
        top: 10%;
        transform: translateX(-40%);
        left: 45%;
    }

    .card {
        width: 100px;
        height: 120px;
        padding: 15px;
    }

    .cardImg {
        font-size: 4.5rem;
    }

    .cardText {
        font-size: clamp(0.8rem, 1vw, 1rem);
    }
}
@media screen and (min-width: 760px) and (max-width: 1440px) {
    .wrapper {
        background-color: rgba(240, 248, 255, 0.1);
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-top: 100px;
    }

    .card {
        width: 140px;
        height: 160px;
        padding: 20px;
    }

    .cardImg {
        font-size: 5rem;
    }

    .cardText {
        font-size: clamp(1rem, 1.2vw, 1.4rem);
    }
}
