.repairContainer {
    width: 100%;
    border-radius: 10px;
}

.repairTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.reapairInputs {
    border: 1px solid #ccc;
    margin: 2px 4px;
}

.repairForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.repairField {
    display: flex;
    flex-direction: column;
}

.repairLabel {
    margin-bottom: 5px;
    font-weight: bold;
}

.repairTextarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    color: black;
    min-height: 80px;
    resize: vertical;
}

.repairButton {
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
/* ContractForm.module.css */

.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.a4 {
    background: white;
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    position: relative;
}

.signatureBox {
    border: 1px solid #ccc;
    width: 300px;
    height: 100px;
    background-color: #f1ebb4;
    border-radius: 5px;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.status {
    color: green;
    margin-top: 0.5rem;
}

.printOnly {
    display: none;
}

@media print {
    body {
        background: white;
    }

    .container {
        padding: 0;
        background: white;
    }

    button {
        display: none;
    }

    .a4 {
        box-shadow: none;
        padding: 10mm;
        width: auto;
        min-height: auto;
    }

    .printOnly {
        display: block;
    }
    .signatureBox {
        border: none;
    }

    select {
        border: none;
        appearance: none;
    }
}
