.select {
    border: none;
    border-radius: 5px;
    padding: 7px 7px;
    font-weight: bold;
    font-size: clamp(0.6rem, 1vw, 0.9rem);
}

.select:hover {
    background-color: var(--seasonColor);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .select {
        width: 200px;
        border: none;
        border-radius: 5px;
        padding: 10px 25px;
        font-size: 0.8rem;
        margin: 2px;
        font-weight: bold;
        box-shadow: 3px 3px 3px rgba(26, 25, 25, 0.774);
        scale: 0.8;
    }
}
