.select {
    border: none;
    border-radius: 5px;
    padding: 7px 7px;
    font-weight: bold;
    font-size: clamp(0.6rem, 1vw, 0.9rem);
}

.select:hover {
    background-color: var(--seasonColor);
    cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .select {
        width: fit-content;
        max-width: 170px;
        border: none;
        padding: 2px;
        border-radius: 5px;
        font-size: 0.7rem;
        font-weight: bold;
    }
}
