.modal {
    font-weight: bold;
    background-image: radial-gradient(circle, var(--seasonColor), white);
    font-size: 1rem;
    padding: 5px 10px;
    position: absolute;
    height: 99vh;
    top: 3%;
    z-index: 15;
    color: rgb(26, 23, 23);
    animation: animateModal 0.4s;
    overflow: scroll;
}

.modal::backdrop {
    /* background-color: rgba(68, 132, 148, 0.712); */
    background-color: rgba(152, 154, 155, 0.781);
}

.machineInformationTable {
    display: flex;
    justify-content: start;
    gap: 250px;
}

.machineInformationTable .sectionWrapper {
    margin: 5px;
    padding: 5px;
}

.informationModal {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: -15;
}

.rowMenu,
.modalMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowMenu button {
    box-shadow: unset;
    margin: 0 0 0 5px;
    border-radius: 5px 5px 0 0;
}

.responsiveModal {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.445);
    background-image: radial-gradient(circle, var(--seasonColor), white);
    z-index: 15;
}

form {
    background-image: radial-gradient(
        circle,
        var(--seasonColor),
        rgba(255, 255, 255, 0.986)
    );
    border-radius: 5px;
}

.selectedBtn {
    background-color: var(--seasonColor);
}

.modal table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    word-break: break-word;
    white-space: normal; /* или nowrap ако искаш да се скролира */
}

.modal table thead th {
    background-color: rgb(255, 255, 254);
    text-align: left;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
}

.modal table th,
.modal table td {
    font-size: 1rem;
    padding: 10px;
}

.modal table tbody tr {
    border-bottom: 1px solid rgb(27, 27, 27);
}

.modal .closeBtn {
    box-shadow: unset;
    color: rgb(223, 6, 6);
    background-color: unset;
    font-weight: 800;
}

.modal .closeBtn:hover {
    color: white;
    background-color: rgb(223, 6, 6);
    cursor: pointer;
}

@keyframes animateModal {
    0% {
        width: 0%;
    }

    33% {
        width: 33%;
    }
    100% {
        width: fit-content;
    }
}

@media only screen and (max-width: 780px) {
    .modal {
        position: absolute;
        height: 99vh;
        top: 7%;
        height: 100vh;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .modal {
        width: 100%;
    }
    .rowMenu button {
        box-shadow: unset;
        margin: 0 0 0 5px;
        border-radius: 5px 5px 0 0;
        scale: 0.8;
    }

    .machineInformationTable {
        display: flex;
        justify-content: start;
        gap: 50px;
        font-size: 0.7rem;
    }

    .responsiveModal {
        border-radius: 5px;
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.445);
        background-image: radial-gradient(circle, var(--seasonColor), white);
        z-index: 15;
        margin: 0;
    }

    .responsiveModal h3 {
        font-size: 0.7rem;
    }
    .responsiveModal button {
        scale: 0.8;
        padding: 5px;
    }
    .modal table {
        margin-top: 15px;
        border-collapse: collapse;
        width: 100%;
    }
    .modal table thead th {
        background-color: rgb(255, 255, 254);
        text-align: left;
        font-size: 0.5rem;
        position: sticky;
        top: 0;
    }
    .modal table th,
    .modal table td {
        font-size: 0.6rem;
    }
}
