* {
    margin: 0;
    padding: 0;
}
:root {
    --MainPageBackColor: rgba(255, 255, 255, 0.247);
    --ButtonColor: rgba(219, 217, 206, 0.151);
    --CloseBtnColor: rgba(175, 30, 30, 0.793);
    --HoverBtnColor: rgba(36, 36, 36, 0.11);
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/src/assets/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
